.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f7fa;
  font-family: Arial, sans-serif;
}
.map-button{
  align-items: center;
  justify-content: center;
}
.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  font-family: Arial, sans-serif;
}
.form-container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  font-family: Arial, sans-serif;
  direction: rtl;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dashboard-layout {
  display: flex;
  direction: rtl; 
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  margin-top: 40px;
}
.title {
  margin-bottom: 20px;
}
.input {
  width: 250px;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  text-align: center;
}
.input:focus {
  border-color: #04e6e0;
  outline: none;
}
.button {
  width: 270px;
  padding: 12px;
  background-color: #04e6e0;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}
.button:hover {
  background-color: #03cfc9;
}
.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.error-text {
  color: red;
  margin-top: 10px;
}
.success-text {
  color: green;
  margin-top: 10px;
}
.loading-text {
  font-size: 18px;
  color: #555;
}
.radio-group {
  display: flex;
  align-items: flex-start;
  direction: rtl; 
  gap: 20px;
}
.radio-item {
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: flex-start;
  gap: 5px; 
  font-size: 16px;
  cursor: pointer;
}
.map-button-wrapper {
  position: fixed;
  left: 18%;
  margin-top: 2%;
  transform: translateX(-50%);
  z-index: 1000;
}
